.todo-item {
  background-color: #446AA2;
}

.todo-item__container {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 30px minmax(300px, 600px) 250px 30px ;
  gap: 10px;
  align-items: flex-start;
  padding: 15px 25px;
  background-color: #446AA2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-item__tag-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.todo-item__tag,
.todo-item__tag--selected {
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
}

.todo-item__tag {
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: #000;
  }
  &:active {
    opacity: 0.7;
  }
}

.todo-item__tag--selected {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

.todo-item__tag--active {
  background-color: #fff;
  color: #000;
}

.todo-item__icon {
  width: 30px;
}

.todo-item__text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.todo-item__file {
  margin-top: 10px;
}

.todo-item__value {
  font-size: 20px;
}

.todo-item__input {
  padding: 5px 10px;
  width: 100%;
}

.todo-item__check-container {
  display: flex;
  justify-content: flex-end;
}

.todo-item__check {
  width: 30px;
}
