.app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.todo-list__button-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-content: space-around;
  align-items: center;
}

.todo-list__filter-container {
  padding: 10px 15px;
  font-weight: 500;
  background-color: #446AA2;
  color: #fff;
  border-radius: 4px;
}

.todo-list__filter-container--disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.todo-list__filter-text {
  margin-right: 10px;
  cursor: default;
}

.todo-list__filter {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.todo-list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 30px 50px;
  border-radius: 4px;
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

.todo-item__wrapper {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 900px 100px;
  gap: 15px;
}

.todo-item__edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list__toggle {
  font-family: inherit;
  font-size: 16px;
}

.todo-item__edit {
  font-family: inherit;
  padding: 10px 15px;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #446AA2;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;

  &:hover {
    background-color: #446AA2;
    color: #fff;
  }
}
