* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url('https://images.pexels.com/photos/3299/postit-scrabble-to-do.jpg?auto=compress&cs=tinysrgb&dpr=3&h=1067&w=1600');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
